<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<style>
    .subscribe-form {
        float: right;
        margin-top: 20px;
    }
</style>
<style>
  .delete-group {
    position: relative;
    float:right;
    margin-bottom: 20px;
    background-color: #555555;
    color: red;
  }
</style>
<main>
    <% if (locals.mod || locals.subscribed) { %>
        <form action="/group/<%= locals.groupinfo.GroupName %>/unsubscribe" method="POST" class="subscribe-form">
            <button>Unsubscribe</button>
        </form>
    <% } else { %>
        <form action="/group/<%= locals.groupinfo.GroupName %>/subscribe" method="POST" class="subscribe-form">
            <button>Subscribe</button>
        </form>
    <% } %>



    <form action="/group/<%= locals.groupinfo.GroupName %>/post" style="float: right; margin: 20px 20px 0 0;">
        <button>New Post</button>
    </form>



    <h1><%= locals.groupinfo.GroupName %></h1>
    <p><%= locals.groupinfo.Description %></p>
    <small>Group Home | <a href="/group/<%= locals.groupinfo.GroupName %>/moderators">Moderators</a></small>

    <div class="jumbotron pad-jumbo">
        <% for (const post of locals.posts) { %>
            <div style="margin-bottom: 10px;">
                <h4 style="margin-bottom: 0;"><a href="/group/<%= locals.groupinfo.GroupName %>/<%= post.PostID %>"><%= post.IsNSFW ? 'NSFW - ' : '' %><%= post.Title %></a><br></h4>
                <small style=""><%= post.LikeCount %> Points - Posted by <%= post.CreatorUsername %> on <%= post.PostDate %> <%= post.CountryOfOrigin ? ` from ${post.CountryOfOrigin}` : '' %></small>
            </div>
        <% } %>




        <% const nextPage = Number(locals.page) + 1 %>
        <% const previousPage = Number(locals.page) - 1 %>
        <% if (Number(locals.page) > 1) { %>
            <a href="/group/<%= locals.groupinfo.GroupName %>/page/<%= previousPage %>">&ltPrevious Page</a>
        <% } %>
        &nbsp
        <% if (Number(locals.page) < Number(locals.numPages)) { %>
            <a href="/group/<%= locals.groupinfo.GroupName %>/page/<%= nextPage %>">Next Page></a>
        <% } %>


    </div>
</main>

</body>
</html>
