<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<main>
    <h1><%= locals.groupinfo.GroupName %></h1>
    <p><%= locals.groupinfo.Description %></p>
    <small>Group Home | <a href="/group/<%= locals.groupinfo.GroupName %>/moderators">Moderators</a></small>
    <div class="jumbotron">
        the group!
        <% if (locals.mod) { %>
            <form action="/deletegroup" method="POST" align="right">
                <input type="hidden" name="groupname" value=<%= locals.groupinfo.GroupName %>>
                <button>Delete Group</button>
            </form>
        <% } %>
    </div>
</main>

</body>
</html>