<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<main>
    <div class="jumbotron">
        <form action="/compose" align="right">
            <button>Compose</button>
        </form>
        <hr>
        <% for (var i=0; i < locals.mailpile.length; i++) { %>
            <a href="/mail/<%= locals.mailpile[i].MailID %>"><h4><%= locals.mailpile[i].Subject %></h4></a>
            <small>Sent by <%= locals.mailpile[i].Sender %></small>
            <hr>
        <% } %>

        <% const nextPage = Number(locals.page) + 1 %>
        <% const previousPage = Number(locals.page) - 1 %>




        <h5>
        <% if (Number(locals.page) > 1) { %>
            <a href="/inbox/<%= previousPage %>">&ltPrevious Page</a>
        <% } %>
        &nbsp
        <% for (var i=1; i <= locals.totalPages; i++) { %>
            <% if (i == Number(locals.page)) { %>
                <%= i %>
            <% } else { %>
                <a href="/inbox/<%= i %>"> <%= i %> </a>
            <% } %>

            &nbsp
        <% } %>
        <% if (Number(locals.page) < Number(locals.totalPages)) { %>
            <a href="/inbox/<%= nextPage %>">Next Page></a>
        <% } %>
        </h5>
    </div>
</main>

</body>
</html>