<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<main>
    <div class="jumbotron">
        <% if (posts.length === 0) {%>
            <h3>There aren't any posts to show you :(</h3>
            <h5>Subscribe to some groups to see some!</h5>
        <% } else {%>
            <% for (const post of locals.posts) { %>
                <div style="margin-bottom: 10px;">
                    <h4 style="margin-bottom: 0;"><a href="/group/<%= post.AssociatedGroup %>/<%= post.PostID %>"><%= post.IsNSFW ? 'NSFW - ' : '' %><%= post.Title %></a><br></h4>
                    <small style=""><%= post.LikeCount %> Points - Posted by <%= post.CreatorUsername %> on <%= post.PostDate %> <%= post.CountryOfOrigin ? ` from ${post.CountryOfOrigin}` : '' %> to <%= post.AssociatedGroup %></small>
                </div>
            <% } %>
        <% } %>



        <% const nextPage = Number(locals.page) + 1 %>
        <% const previousPage = Number(locals.page) - 1 %>
        <% if (Number(locals.page) > 1) { %>
            <a href="/home/<%= previousPage %>">&ltPrevious Page</a>
        <% } %>
        &nbsp
        <% if (Number(locals.page) < Number(locals.numPages)) { %>
            <a href="/home/<%= nextPage %>">Next Page></a>
        <% } %>
    </div>
</main>

</body>
</html>