<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<style>
    .subscribe-form {
        float: right;
        margin-top: 20px;
    }
</style>
<main>
    <% if (locals.subscribed) { %>
        <form action="/group/<%= locals.groupinfo.GroupName %>/unsubscribe" method="POST" class="subscribe-form">
            <button>Unsubscribe</button>
        </form>
    <% } else { %>
        <form action="/group/<%= locals.groupinfo.GroupName %>/subscribe" method="POST" class="subscribe-form">
            <button>Subscribe</button>
        </form>
    <% } %>


    <form action="/group/<%= locals.groupinfo.GroupName %>/post" style="float: right; margin: 20px 20px 0 0;">
        <button>New Post</button>
    </form>

    <h1><%= locals.groupinfo.GroupName %></h1>
    <p><%= locals.groupinfo.Description %></p>
    <small>Group Home | <a href="/group/<%= locals.groupinfo.GroupName %>/moderators">Moderators</a></small>

    <div class="jumbotron pad-jumbo">
        <h3><%= post.IsNSFW ? 'NSFW - ' : '' %><%= post.Title %></h3>
        <div style="width: 100%; max-width: 600px; white-space: pre-wrap;">
            <%= post.Bodytext %>
        </div>
        <hr/>
        <form action="/group/<%= locals.groupinfo.GroupName %>/<%= post.PostID %>/comment" method="POST">
            <textarea rows="4" cols="75" placeholder=" What are your thoughts?" name="body" maxlength="2000" value=<%= locals.commentBody %>></textarea><br/>
            <button>Comment</button>
        </form>

        <hr/>

        <% if (!comments || comments.length === 0) {%>
            <h5>There aren't any comments to show you :(</h5>
        <% } else {%>
            <% for (const comment of comments) { %>
                <div style="margin-bottom: 10px;">
                    <span style="font-size: 14px;"><%= comment.CreatorUsername %> - <%= comment.PostDate %></span><br>
                    <span style="font-size: 16px;"><%= comment.BodyText %></span>
                </div>
            <% } %>
        <% } %>
    </div>
</main>

</body>
</html>