<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<style>
    .subscribe-form {
        float: right;
        margin-top: 20px;
    }
</style>
<main>
    <% if (locals.subscribed) { %>
        <form action="/group/<%= locals.groupinfo.GroupName %>/unsubscribe" method="POST" class="subscribe-form">
            <button>Unsubscribe</button>
        </form>
    <% } else { %>
        <form action="/group/<%= locals.groupinfo.GroupName %>/subscribe" method="POST" class="subscribe-form">
            <button>Subscribe</button>
        </form>
    <% } %>


    <form action="/group/<%= locals.groupinfo.GroupName %>/post" style="float: right; margin: 20px 20px 0 0;">
        <button>New Post</button>
    </form>

    <h1><%= locals.groupinfo.GroupName %></h1>
    <p><%= locals.groupinfo.Description %></p>
    <small>Group Home | <a href="/group/<%= locals.groupinfo.GroupName %>/moderators">Moderators</a></small>

    <div class="jumbotron pad-jumbo">
        <h6 id="post_<%= post.PostID %>" group="<%= post.AssociatedGroup %>">
            <span myVote="<%= post.MyVote %>">
                <a href="#" class="pvote" type="-1">-</a>
                <span class="like-count"><%= post.LikeCount %></span>
                <a href="#" class="pvote" type="1">+</a>
                Points <br> Posted by <%= post.CreatorUsername %> on <%= post.PostDate %> <%= post.CountryOfOrigin ? ` from ${post.CountryOfOrigin}` : '' %>
            </span>
        </h6>
        <h3><%= post.IsNSFW ? 'NSFW - ' : '' %><%= post.Title %></h3>
        <div style="width: 100%; max-width: 600px; white-space: pre-wrap;"><%= post.Bodytext %></div>
        <hr/>
        <form action="/group/<%= locals.groupinfo.GroupName %>/<%= post.PostID %>/comment" method="POST">
            <textarea rows="4" cols="75" placeholder=" What are your thoughts?" name="body" maxlength="2000" value=<%= locals.commentBody %>></textarea><br/>
            <button>Comment</button>
        </form>

        <hr/>

        <% if (!comments || comments.length === 0) {%>
            <h5>There aren't any comments to show you :(</h5>
        <% } else {%>
            <% for (const comment of comments) { %>
                <div style="margin-bottom: 10px;" id="comment_<%= comment.CommentID %>">
                    <span style="font-size: 14px;" myVote="<%= comment.MyVote %>">
                        <a href="#" class="cvote" type="-1">-</a>
                        <span class="like-count"><%= comment.LikeCount %></span>
                        <a href="#" class="cvote" type="1">+</a>
                        Points - <%= comment.CreatorUsername %> - <%= comment.PostDate %>
                    </span><br>
                    <span style="font-size: 16px;"><%= comment.BodyText %></span>
                </div>
            <% } %>
        <% } %>
    </div>
</main>

<script>
    function vote(resource, id, type, cb) {
        $.ajax({
            type: 'POST',
            url: `/${resource}/${id}/vote`,
            data: JSON.stringify({type}),
            contentType: 'application/json; charset=utf-8',
            dataType: "json",
            success: (data) => { cb(data); },
            failure: (e) => { alert(e.msg); }
        });
    }

    $('.cvote').click(function () {
        let type = parseInt($(this).attr('type'));
        const myVote = parseInt($(this).parent().attr('myVote'));
        const commentId = parseInt($(this).parent().parent().attr('id').split('_')[1]);
        const likeCount = parseInt($(this).parent().find('.like-count').text());

        if (type === myVote) {
            // negate the vote
            type = 0;
        }

        vote('comment', commentId, type, (data) => {
            $(this).parent().attr('myVote', type);
            $(this).parent().find('.like-count').text(likeCount + data.offset);
        });
    });

    $('.pvote').click(function () {
        let type = parseInt($(this).attr('type'));
        const myVote = parseInt($(this).parent().attr('myVote'));
        const postId = parseInt($(this).parent().parent().attr('id').split('_')[1]);
        const likeCount = parseInt($(this).parent().find('.like-count').text());
        const group =$(this).parent().parent().attr('group');

        if (type === myVote) {
            // negate the vote
            type = 0;
        }

        vote(`group/${group}`, postId, type, (data) => {
            $(this).parent().attr('myVote', type);
            $(this).parent().find('.like-count').text(likeCount + data.offset);
        });
    });

</script>
</body>
</html>