<!--<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<main>


    <h1><%= locals.userinfo.Username %></h1>
    <small>
        <a href="/compose?sendto=<%= locals.userinfo.Username %>">Message</a><br>
        Prestige: <br>
        Posts | Upvoted Posts
    </small>
    <div class="jumbotron">
        <% if (locals.followed) { %>
            <form action="/unfollow" method="POST" align="right">
                <input type="hidden" name="page_username" value=<%= locals.userinfo.Username %>>
                <button>Unfollow</button>
            </form>
        <% } else { %>
            <form action="/follow" method="POST" align="right">
                <input type="hidden" name="page_username" value=<%= locals.userinfo.Username %>>
                <button>Follow</button>
            </form>
        <% } %>

        the user!
    </div>
</main>

</body>
</html>-->
