<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {user: username}); %>
</header>

<style>
    .subscribe-form {
        float: right;
        margin-top: 20px;
    }
</style>
<main>

    <% if (locals.followed) { %>
        <form action="/unfollow" method="POST"  class="subscribe-form">
            <input type="hidden" name="page_username" value=<%= locals.userinfo.Username %>>
            <button>Unfollow</button>
        </form>
    <% } else { %>
        <form action="/follow" method="POST"  class="subscribe-form">
            <input type="hidden" name="page_username" value=<%= locals.userinfo.Username %>>
            <button>Follow</button>
        </form>
    <% } %>

    <h1><%= locals.userinfo.Username %></h1>
    <small>
        <a href="/compose?sendto=<%= locals.userinfo.Username %>">Message</a><br>
        Prestige: <br>
        Posts | Upvoted Posts
    </small>
    <div class="jumbotron">

        <% for (const post of locals.posts) { %>
            <div style="margin-bottom: 10px;">
                <h4 style="margin-bottom: 0;"><a href="/group/<%= post.AssociatedGroup %>/<%= post.PostID %>"><%= post.IsNSFW ? 'NSFW - ' : '' %><%= post.Title %></a><br></h4>
                <small style=""><%= post.LikeCount %> Points - Posted by <%= post.CreatorUsername %> on <%= post.PostDate %> <%= post.CountryOfOrigin ? ` from ${post.CountryOfOrigin}` : '' %></small>
            </div>
        <% } %>



        <% const nextPage = Number(locals.page) + 1 %>
        <% const previousPage = Number(locals.page) - 1 %>
        <% if (Number(locals.page) > 1) { %>
            <a href="/user/<%= locals.userinfo.Username %>/<%= previousPage %>">&ltPrevious Page</a>
        <% } %>
        &nbsp
        <% if (Number(locals.page) < Number(locals.numPages)) { %>
            <a href="/user/<%= locals.userinfo.Username %>/<%= nextPage %>">Next Page></a>
        <% } %>

    </div>
</main>

</body>
</html>
